 <div class="container"><br><br>
   <div class="card">
     <div class="row">
       <div class="col s12">
         <ul class="tabs">
           <li class="tab col s6"><a href="#test1"><label id="nav1cambiotamanio">Examenes</label></a></li>
           <li class="tab col s6"><a href="#test3"><label id="nav1cambiotamanio3">Preguntas</label></a></li>
         </ul>
       </div>
       <div id="test1" class="col s12">
         <div class="col s12"><br><br>
           <div class="col s11 offset-s1">
             <i class="material-icons">filter_1</i>
             <label class="atributoscuestionario">
               Lista de examenes creados
             </label>
           </div>
           <div class="col s7 offset-s1" id="div2responsivo">
           </div>
           <div class="col s4" id="div12responsive">
             <div class="valign-wrapper">
               <div class="col s3 offset-s1" id="cambioenmob1">
                 <div class="tooltip">
                   <a class="btn-floating modal-trigger" data-position="bottom" data-target="modal1" ><i class="material-icons">add</i></a>
                   <span class="tooltiptext">Crear Examen</span>
                </div>
              </div>
              <div class="col s3 offset-s1" id="cambioenmob2">
                <div class="tooltip">
                  <a class="btn-floating modal-trigger" *ngIf="btneditarexamen" data-position="bottom" data-target="modaledit" ><i class="material-icons">create</i></a>
                  <span class="tooltiptext">Modificar Examen</span>
                </div>
              </div>
            </div>
          </div><br><br>
          <div class="row">
            <div class="col s10 offset-s1" id="responsible1">
              <div class="col s12 m12"><br><br>
                <p-table #tt [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [globalFilterFields]="['nombre']">
                  <ng-template pTemplate="caption">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th>
                              Nombre
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr (click)=habilitarbotones(rowData,$event); [pSelectableRow]="rowData">
                          <td>
                              {{rowData.nombre}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Preguntas -->
      <div id="test3" class="col s12">
        <div class="row"><br><br>
          <div class="col s11 offset-s1">
            <i class="material-icons">assessment</i>
            <label class="atributoscuestionario">
              Lista de preguntas
            </label>
          </div>
          <div class="col s7 offset-s1" id="div2responsivo">
          </div>
          <div class="col s4" id="div12responsive">
            <div class="valign-wrapper">
              <div class="col s3 offset-s1" id="cambioenmob1">
                <div class="tooltip">
                  <a class="btn-floating modal-trigger" data-position="bottom" data-target="modal1createquestion" ><i class="material-icons">add</i></a>
                  <span class="tooltiptext">Crear Pregunta</span>
                </div>
              </div>
              <div class="col s3 offset-s1" id="cambioenmob2">
                <div class="tooltip">
                  <a class="btn-floating modal-trigger"  data-position="bottom" data-target="modaldetalles" ><i class="material-icons">create</i></a>
                  <span class="tooltiptext">Modificar Examen</span>
                </div>
              </div>
            </div>
          </div><br><br>
          <div class="col s10 offset-s1">
              <!-- Aqui va la tabla de preguntas -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="modaldetalles" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12" id="cambiodetamanio">
          <div id="login-page" class="row" ><br><br>
            <div class="col s12 card-panel">
              <div class="row">
                <div class="row">
                  <br>
                  <br>
                  <div class="col s9 offset-s1">
                    <div>
                      <label for="descripcion">Descripcion de la pregunta edit </label>
                    </div>
                    <div>
                      <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="pregunta.descripcion" ></textarea>
                    </div>
                  </div>
                  <div class="col s9 offset-s1"><br><br>
                    <div class="row">
                      <form action="#">
                        <div class="file-field input-field">
                          <div class="btn">
                            <span>File</span>
                            <input type="file" (change)="onChange($event)">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <br>
                    <div class="col s9 offset-s1">
                      <div class="col s6">
                          <div class="col s12">
                            <label for="descripcion">Categoria </label>
                          </div>
                          <div class="col s12">
                            <select class="browser-default"> <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                            </select>
                          </div>
                      </div>
                      <div class="col s5 offset-s1">
                           <div class="col s6">
                                <div>
                                  <label>
                                    Respuestas
                                  </label>
                                </div>
                                <div>
                                <input type="number" numbersOnly [(ngModel)]="numeropreguntas" min="2">
                                </div>
                          </div>
                          <br><br>

                           <div class=" col s4 btn" (click)="crearpreguntasfuncion()">
                            Crear Preguntas
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12">
                    <br><br>
                    <div  class="col s12" *ngFor="let respuesta  of preguntasacrear; let i = index" >
                      <div class="col s8  offset-s1">
                        <div>
                          <label for="descripcion">Respuesta {{i+1}}</label>
                        </div>
                        <div>
                          <div class="col s1">
                            <div class="valign-wrapper">
                              <label>
                                <input name="group2" type="radio" (click)="asignartrue(respuesta)"/>
                                <span id="inputrdobtn">
                                </span>
                              </label>
                            </div>
                          </div>
                          <div class="col s8">
                            <input type="text" class="form-control"><br>
                          </div>
                        </div>
                      </div>
                      <div class="col s4">
                        <div>
                          <label>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col s3 offset-s3">
                      <a  *ngIf="pregunta.descripcion != undefined && postcreacionrespuestas" class="waves-effect waves-light btn-small" (click)="enviar()">Guardar Pregunta</a>
                      <a  *ngIf="pregunta.descripcion == undefined || !postcreacionrespuestas" class="waves-effect waves-light btn-small" disabled>Guardar Pregunta</a>

                    </div>
                    <div class="col s3 offset-s1" id="cambiodetamanio9">
                                 <a  id="btncerrar" class="btn modal-close waves-effect waves-light">Salir</a>
                   </div>
                  </div>
                  <br><br><br>
                </div>

             </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="modal1" class="modal">
    <div class="modal-content">

      <app-createtets></app-createtets>


    </div>
  </div>

  <div id="modal1createquestion" class="modal">
    <div class="modal-content">

      <app-createquestion></app-createquestion>


    </div>
  </div>



  <div id="modaledit" class="modal">
    <div class="modal-content">
      <div class="row">
      <div class="col s11">
        <div class="col s11 offset-s1" id="modificarexamen">
          <label class="atributoscuestionario" id="modificarexamen">
           Modificar examen.
          </label><br><br>
        </div>
        <form class="form" role="form" >
          <div class="col s5 offset-s1"  id="cambiodetamanio">
            <div>
              <label>Nombre examen(*)</label>
            </div>
            <div>
              <input placeholder="" id="nombre" name="nombre" type="text" class="form-control" [(ngModel)]="examenaux.nombre">
            </div>
          </div>
          <div class="col s6" id="cambiodetamanio1">
            <div>
              <label>Descripcion</label>
            </div>
            <div>
              <input id="descripcion" name="descripcion" type="text" class="form-control" [(ngModel)]="examenaux.descripcion">
            </div>
          </div>
          <div class="input-field col s3 offset-s1" id="cambiodetamanio2">
            <div>
              <label>Total Preguntas</label>
            </div>
            <div>
              <input numbersOnly placeholder="" id="total_preguntas" name="total_preguntas" type="number" class="form-control" [(ngModel)]="examenaux.total_preguntas"  >
            </div>
          </div>
          <div class="input-field col s3 offset-s1" id="cambiodetamanio3">
            <div>
              <label>Calif. Minima</label>
            </div>
            <div>
              <input  numbersOnly placeholder="" id="calificacion_minima" name="calificacion_minima" type="number" class="form-control" [(ngModel)]="examenaux.calificacion_minima">
            </div>
          </div>
          <div class="input-field col s3 offset-s1" id="cambiodetamanio4">
            <div>
              <label>Tiempo</label>
            </div>
            <div>
              <input numbersOnly placeholder="" id="tiempo_limite" name="tiempo_limite" type="number" class="form-control" [(ngModel)]="examenaux.tiempo_limite">
            </div>
          </div>
        </form>
        <div class="input-field col s11 offset-s1" id="btnmodificarexamen">
          <a class="waves-effect waves-light btn-small" ><i class="material-icons left">arrow_downward</i>Modificar examen</a><br><br>
        </div>
        </div>
      </div>
    </div>
  </div>
