
<div class="container" *ngIf="quitartodo && !ejemplo"><br>
  <div class="card">
    <div class="fondoblanco">
      <div class="row">
        <div class="col s12"  >
          <div class="col s8" id="cambiodetamanio"><br><br>
            <label class="atributoscuestionario">
              <i class="material-icons">filter_1</i> Introduce tus datos.
            </label>
            <form class="form" role="form" *ngIf="!mostrarexamenes"><br>
              <div class="input-field col s12">
                <input placeholder="" maxlength="18" id="curp" name="curp" type="text" class="form-control" [(ngModel)]="persona.curp" (change)="verificarCURP()" style="text-transform:uppercase;">
                <label class="atributoscuestionario" for="curp">CURP (*)</label>
                <span *ngIf="advertenciaCURP" class="helper-text" data-error="wrong" data-success="right">Favor de introducir una CURP Correcta</span>
              </div>
              <div class="input-field col s12">
                <input placeholder="" id="nombre" name="nombre" type="text" class="form-control" [(ngModel)]="persona.nombre">
                <label class="atributoscuestionario" for="nombre">Nombre completo (*)</label>
              </div>
              <div class="input-field col s12">
                <input placeholder="" id="apellidopaterno" name="apellidopaterno" type="text" class="form-control" [(ngModel)]="persona.primer_apellido">
                <label class="atributoscuestionario" for="apellidopaterno">Primer Apellido (*)</label>
              </div>
              <div class="input-field col s12">
                <input placeholder="" id="apellidomaterno" name="apellidomaterno" type="text" class="form-control" [(ngModel)]="persona.segundo_apellido">
                <label class="atributoscuestionario" for="apellidomaterno">Segundo Apellido </label>
              </div>
            </form>
          </div>
          <div class="col s4" *ngIf="!mostrarexamenes" id="cambiodetamanio2">
            <div id="app">
              <label class="atributoscuestionario">Foto.</label> <br>
              <div><br>
                <video class="responsive-video" #video id="video" width="320" height="240" autoplay></video></div>
                <div>
                  <a class="red lighten-2 btn" id="snap" (click)="capture()">Tomar foto</a>
                </div>
                <canvas #canvas id="canvas" width="640" height="480"></canvas>
                <ul>
                  <li>
                    <img src="{{ this.captures[0] }}" height="100" />
                  </li>
                </ul>
              </div>
            </div>
            <div class="input-field col s12" *ngIf="mostrartBtnSelTest">
              <a class="waves-effect waves-light btn-small" (click)="beforemostrarexamenes()"><i class="material-icons left">arrow_downward</i>Continuar con la seleccion de examen</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="mostrarexamenes">
        <div class="col s12"><br>
          <div class="col s8">
            <label class="atributoscuestionario">
              <i class="material-icons">filter_2</i> Selecciona el tipo de examen.
            </label> <br> <br>
          </div><br>
          <div class="row">
            <div class="col s8 offset-s1">
              <div  *ngFor="let minionexamen of examenes; let i = index" >
                <label>
                  <input name="group2" type="radio" (click)="seleccionarExamen(minionexamen)" />
                  <span>
                    <label>{{minionexamen.nombre}} </label>
                    <label>(
                    </label>
                    <label *ngFor="let licencia of minionexamen.tipos_licencia; let x = index" class="categorias-enunciado">
                      {{licencia.nombre}} <label class="categorias-enunciado" *ngIf="x != (minionexamen.tipos_licencia.length-1)"> -</label>
                    </label>
                    <label>)
                    </label>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="mostrarexamenes && mostrarbotonrealizarexamen"><br>
      <div class="center">
        <label class="advertencia">RECUERDE QUE SOLO TIENE {{this.configuracionExamen.tiempo_limite}} MINUTOS PARA HACER EL EXAMEN, LAS PREGUNTAS SERAN CONTESTADAS DE FORMA CONTINUA ASI QUE NO PODRA REGRESAR A UNA PREGUNTA ANTERIOR.</label><br><br>
        <a class="waves-effect waves-light btn" (click)="registrardatos()">Registrar</a><br><br>
      </div>
    </div>
    <div>
      <ul>
        <li *ngFor="let imagen of imagenes | async">
            {{imagen.nombre}}
          </li>
        </ul>
      </div>
      <div>
      </div>
    </div>
    <div *ngIf="ejemplo">
    <br>
    <div class="row" *ngIf="quitarpararesultados">
      <div class="col s4 offset-s2">
        <label class="nombre-usuario" id="cambiodetamanio2">
        Examen aplicado a {{persona.nombre}} {{persona.primer_apellido}} {{persona.segundo_apellido}}
        </label>
        </div>
        <div class="col s2" id="cambiodetamanio2">
          <div class=row>
          <a *ngIf="!quitarempezar" class="waves-effect waves-light btn" (click)="empezarexamen()" > Empezar</a>
          </div>
        </div>
        <div class="col s2" id="cambiodetamanio2">
          <span class="flow-text">
              <div id="cronometro-numeros">
                 <i class="material-icons" id="crono-icon">access_time</i> {{minutos2}} : {{segundos2}}
              </div>
          </span>

        </div>
    </div>
    <div *ngIf="mostrartest">
    <div *ngIf="quitarpararesultados" class="container">
       <div class="card">

          <div class="row">
              <div class="centrar">
                 <br>
                      <p class="tituloexamen">{{configuracionExamen.descripcion}} </p>
              </div>
              <div class="col s10">
                   <div class="row">
                   </div>
              <div class="container">
                    <div class="row">
                          <p class="descripcionpregunta">
                            <i class="material-icons">dashboard</i> {{preguntaobjamostrar.descripcion}}
                          </p>
                          <img class="responsive-img" src={{preguntaobjamostrar.ruta}}>
                     </div>
                     <div class="row">
                          <div  *ngFor="let respuesta of respuestasobjamostrar; let i = index" >
                                <label *ngIf="mostrarcorrectas==false" >
                                           <input *ngIf="examenContestadoalmomento[respuesta.id_pregunta-1].id_respuestaasignada==i"  name="group2" type="radio" (click)="asignarrespuestaalobjelegida(respuesta.id_pregunta,i)" checked />
                                           <span  *ngIf="examenContestadoalmomento[respuesta.id_pregunta-1].id_respuestaasignada==i"><label class="respuestas">{{respuesta.descripcion}}  </label></span>
                                           <input *ngIf="examenContestadoalmomento[respuesta.id_pregunta-1].id_respuestaasignada!=i"  name="group2" type="radio" (click)="asignarrespuestaalobjelegida(respuesta.id_pregunta,i)" />
                                           <span *ngIf="examenContestadoalmomento[respuesta.id_pregunta-1].id_respuestaasignada!=i"><label class="respuestas">{{respuesta.descripcion}}</label></span>
                                 </label>
                            </div>
                      <div *ngIf="mostrarcorrectas==true">
                              <div *ngFor="let correctas of respuestasobjamostrar; let i = index">
                                    <label>
                                          <span *ngIf="correctas.correcto==true" class="blue-text text-darken-2"><label class="respuestas">{{correctas.descripcion}}</label></span>   <i *ngIf="correctas.correcto==true" class="material-icons">check</i>
                                          <span *ngIf="correctas.correcto!=true" class="red-text text-darken-2"><label class="respuestas">{{correctas.descripcion}}</label></span>   <i *ngIf="correctas.correcto!=true" class="material-icons">clear</i>
                                          <br>
                                     </label>
                               </div>
                       </div> <br> <br>
                       <div class="centrar">
                              <div class="row" id="botonguardar">
                                     <a *ngIf="mostrarbotonsiguiente==false && mostrarresultadosboton!=true" class="waves-effect waves-light btn" (click)="cambiarpreguntamostrada(puntero)">   Guardar  </a>
                                     <a *ngIf="mostrarbotonsiguiente!=false && mostrarresultadosboton!=true" class="waves-effect waves-light btn" (click)="botonsiguiente(puntero)">Siguiente  </a>
                                     <a *ngIf="mostrarresultadosboton" class="waves-effect waves-light btn" (click)="guardarresultadosycalcular()" >Ver Resultados</a>
                               </div>
                        </div>
                  </div>
            </div>
               <div class="centrar">
                   <div class="row">
                       <ul class="pagination">
                              <li *ngFor="let item of preguntas; let i = index" class="waves-effect">
                                  <a  *ngIf="preguntaobjamostrar.respuestas[0].id_pregunta==(i+1)" class="#ffcdd2 red lighten-4"  ><label class="paginacion">{{i+ 1}} </label></a>
                                  <a *ngIf="preguntaobjamostrar.respuestas[0].id_pregunta!=(i+1)" ><label class="paginacion">{{i+ 1}}  </label></a>
                              </li>
                       </ul>
                   </div>
                </div><br>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="!quitarpararesultados"  class="container">
         <div class="card"> <br> <br>
             <div class="row">
                 <div *ngIf="siaprobo">
                     <div class="row">
                         <div class="centrar">
                               <h5> {{mensaje}} </h5>
                               <a class="waves-effect waves-light btn"  > Descargar como pdf</a><br><br>
                         </div>
                      </div>
                  </div>

        <div *ngIf="!siaprobo">
            <div class="row">
                <div class="centrar">
                     <h5> {{mensaje}} </h5>
                          <label>Favor de hacer otra cita el dia (Aqui vendra el dia tentativo).</label><br><br>
                </div>
            </div>
           </div>
        </div>
      </div>
     </div>
    </div>
